<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cybertech</title>

    <script src="./script/script.js"></script>
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/553eacc074.js" crossorigin="anonymous"></script>


</head>

<body>
    <header class="header">
        <a href="#" class="logo">CYBERTECH</a>
        <nav class="navbar">

            <div class="hideOnMobile">
                <a href="#About" class="active">About</a>
                <a href="#About">Login / Register</a>

            </div>



        </nav>
    </header>

    <div class="container" id="Home">
        <img src="~/img/office.jpg">
        <div class="overlay"></div>

        <div class="text">WELCOME TO CYBERTECH ENTERPRISE SEARCHING SITE BEST JOB SEARCH SITE</div>
        <hr class="text-divider" />
        <p class="subtext">
            Welcome to CyberTech Enterprise searching site, This website will allow you to build your future starting
            today! There are thousands of employers looking for talented workers such as yourself and an equal number of
            candidats ready to make the company that you invisioned a dream come true!
        </p>

        <a class="btn_findMore" href="#About">FIND OUT MORE</a>

    </div>
    <div class="container2" id="About">
        <h1 class="about-title">We've got what you need!</h1>
        <p class="about-subtext">
            There are thousands of job sites on the web, but the best job boards and job search engine sites have <br>search
            tools that are quick and easy to use and allow you to search based on the type of job you're <br> looking for, your
            location, and other criteria.
        </p>
        <div class="btn_getStarted">Get Started!</div>
    </div>

    <div class="container3">
        <p class="copyright-text">Copyright © 2024 CyberTech Enterprise, Inc. All rights reserved</p>
    </div>
</body>
</html>