    @{
    ViewBag.Title = "Account";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-6" style="padding-left:10px; border-left: 1px solid #ccc;">
    <form name="job">
        Poste :<br>
        <select name="Postes">
            <option value="Programmeur">Programmeur</option>
            <option value="Animateur">Animateur 3d</option>
            <option value="Testeur" selected>Testeur</option>
        </select><br>
        <br>
        Region :<br>
        <select name="Region">
            <option value="Ottawa">Ottawa</option>
            <option value="Gatineau">Gatineau</option>
            <option value="Aylmer" selected>Aylmer</option>
        </select><br>
        <br>

        Salaire :<br>
        <select name="Salaire">
            <option value="low">25-40k</option>
            <option value="mid">40-60k</option>
            <option value="top" selected>60-80k</option>
        </select><br>
        <br>
        <a class="btn btn-default" style="background-color : cornflowerblue; color : white ;
                  border-color : black ; font-size : 15px">Search</a>

    </form>
</div>
    <div class="col-md-6" style="padding-left:10px; border-left: 1px solid #ccc;">
        <form name="job">
            Poste :<br>
            <select name="Job 1">
                <option value="Programmeur">Allain</option>
                <option value="Animateur">Maryse 3d</option>
                <option value="Testeur" selected>Martin</option>
            </select><br>
            <br>
            Region :<br>
            <select name="Region">
                <option value="Ottawa">Ottawa</option>
                <option value="Gatineau">Gatineau</option>
                <option value="Aylmer" selected>Aylmer</option>
            </select><br>
            <br>

            Salaire :<br>
            <select name="Salaire">
                <option value="low">25-40k</option>
                <option value="mid">40-60k</option>
                <option value="top" selected>60-80k</option>
            </select><br>
            <br>
            <a class="btn btn-default" style="background-color : cornflowerblue; color : white ;
                  border-color : black ; font-size : 15px">Search</a>

        </form>

    </div>
